			body {
				border : 15px solid #000080;
				width: 80%;
				height: 60%;
				margin-top:	5%;
				margin-left: 10%;
				background-image: url("green-marble.jpg");
				background-repeat: repeat;
			}

			#greeting {
				margin-left: 30px;
				margin-top: 20px;
				font-family: cursive;
				font-size: 190%;
				color: #000099;
			}
			#introduction {
				color: black;
				margin-left: 10%;
				padding-top: 20px;
				padding-bottom: 20px;
			}

			#photo {
				text-align: center;
				margin-top: 35px;
				margin-bottom: 35px;
			}

			#remark {
				border: 10px ridge #0000CC;
				margin-left: 10%;
				margin-right: 10%;
				padding-left: 10px;
				padding-right: 10px;		
			}

			p {
				color: #000033;
				margin-left: 10%;
				margin-right: 10%;
				margin-left:auto;
				margin-right:auto;
				text-align: justify;
				font-family: arial;
				width:75%;
			}

			ol {
				margin-left: 20%;
			}

			form {
				text-align: right;
				margin-right: 10%;
			}

			audio {
				margin-left :25%;
			}

			#notes {
				font-size: small;
				text-align: center;
				margin-top: 45px;
				margin-bottom: 20px;
			}

			#menu ul {
				padding-left:40%;
				padding-top: 50px;
				padding-bottom: 50px;
			}

			#menu li {
				list-style-type: none;
				float: left;
				width: 5em;
				text-align: center;
			}

			#menu a {
				text-decoration: none;
				color: black;
				display: block;
				border: 3px blue outset;
				background-color: #CCCCFF;
			}

			#menu a:hover {
				border: 3px blue inset;